.fa-trash {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 22px;
  color: red;
  cursor: pointer;
}
.cart-product-count {
  font-size: 2rem;
  position: absolute;
  color: rgb(180, 197, 27);
  padding: 10px;
  border-radius: 20% 10% 20% 10%;
  font-weight: 700;
}
