.pizza {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 10px;
  margin: 20px 0;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  flex-basis: 290px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pizza-name {
  /* font-size: 1.02rem; */
  font-weight: bold;
  letter-spacing: 0.2ch;
}
.pizza-price::before {
  content: "Rs.";
  padding: 3px;
}
.pizza-price::after {
  content: " $";
}
.pizza-price {
  /* font-size: 1.004rem; */
  font-weight: 500;
}
.add-to-cart-btn {
  background-color: rgb(180, 197, 27);
  color: white;
}
.checkout-btn {
  width: 50%;
  background-color: rgb(180, 197, 27);
  color: white;
}
.product-counter {
  position: absolute;
  bottom: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 10px;
}
.counter-btn {
  padding: 5px 15px;
}
.heading {
  text-align: center;
  font-weight: 800;
  color: rgb(180, 197, 27);
  font-size: 2rem;
}
