.footer {
  background-color: #2b2c7f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #f14348;
}
.logo-footer {
  font-size: 1.8rem;
  font-family: cursive;
  color: #f14348;
}
.footer-middle {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media-links {
  display: flex;
  gap: 10px;
  font-size: 2rem;
  color: #f14348;
}
.fa-brands {
  cursor: pointer;
}
